.youtube-section {
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, #000000, #ff6a00, #ffb347);
}

.youtube-banner {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    object-fit: cover;
}


.youtube-videos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.youtube-video {
    width: 100%;
    max-width: 300px;
}
